<footer class="bg-[#771020] px-10 py-8 text-[#ede6ce]">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-24 px-2 text-center md:grid-cols-4 md:text-left md:justify-between">

    <div>
      <h2 class="mb-2 text-2xl font-bold">MaskCar</h2>
      <p class="text-sm">Louez votre voiture en toute simplicité, partout, à tout moment.</p>
    </div>

    <div>
      <h3 class="mb-2 text-lg font-semibold">Navigation</h3>
      <ul class="space-y-1 text-sm">
        @if (isLoggedIn()) {
          @if (isAdmin()) {
            <li><a href="#" class="hover:underline">Accueil</a></li>
            <li><a routerLink="/profil" class="hover:underline">Profil</a></li>
            <li><a routerLink="/listeClient" class="hover:underline">Clients</a></li>
            <li><a routerLink="/listeReservation" class="hover:underline">Réservations</a></li>
            <li><a routerLink="/listeAgence" class="hover:underline">Agence</a></li>
            <li><a routerLink="/contact" class="hover:underline">Contact</a></li>
          } @else if (isClient()) {
            <li><a href="#" class="hover:underline">Accueil</a></li>
            <li><a routerLink="/profil" class="hover:underline">Profil</a></li>
            <li><a routerLink="/listeAgence" class="hover:underline">Agence</a></li>
            <li><a routerLink="/contact" class="hover:underline">Contact</a></li>
          }
        } @else {
          <li><a href="#" class="hover:underline">Accueil</a></li>
          <li><a routerLink="/login" class="hover:underline">Connexion</a></li>
          <li><a routerLink="/register" class="hover:underline">Inscription</a></li>
        }
      </ul>
    </div>






    <div>
      <h3 class="mb-2 text-lg font-semibold">Contact</h3>
      <ul class="space-y-1 text-sm">
        <li>maskcar.contact&#64;gmail.com</li>
        <li>+33 1 23 45 67 89</li>
        <li>123 rue de la location, Lens</li>
      </ul>
    </div>

    <div class="md:col-start-4">
      <h3 class="mb-2 text-lg font-semibold">Suivez-nous</h3>
      <ul class="space-y-1 text-sm">
        <li><a href="https://www.facebook.com/profile.php?id=61575490232141" target="_blank" class="hover:underline">Facebook</a></li>
        <li><a href="https://x.com/MasKar591437" target="_blank" class="hover:underline">Twitter</a></li>
        <li><a href="https://www.instagram.com/maskcar_web/" target="_blank" class="hover:underline">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="mt-8 border-t border-[#ede6ce]/30 pt-4 text-center text-sm">&copy; 2025 Maskcar. Tous droits réservés.</div>
</footer>
