<section class="bg-[#ede6ce] px-10 py-16">
  <div class="mx-auto max-w-6xl flex flex-col lg:flex-row gap-10 justify-center items-center">
    <!-- Notre Équipe Section -->
    <div class="lg:w-1/2">
      <div class="mb-12 text-center lg:text-left">
        <h1 class="mb-4 text-3xl font-bold text-[#771020]">Notre Équipe</h1>
        <p class="text-lg text-[#771020]">
          Découvrez les développeurs de notre entreprise.
        </p>
      </div>
      <div class="text-center lg:text-left">
        <img src="./assets/images/team.png" alt="Notre équipe" class="mx-auto lg:mx-0 mb-6 w-full max-w-md rounded-lg shadow" />
        <p class="text-[#771020]">
          Notre équipe est composée de Mathias, Simon, Benjamin et Mathéo.
        </p>
      </div>
    </div>

    <!-- À propos de nous Section -->
    <div class="lg:w-1/2">
      <div class="mb-12 text-center lg:text-left">
        <h1 class="mb-4 text-3xl font-bold text-[#771020]">À propos de nous</h1>
        <p class="text-lg text-[#771020]">
          Bienvenue chez MaskCar. Nous proposons le meilleur service de location de voitures pour répondre à tous vos besoins. Que vous ayez besoin d'une voiture pour un week-end ou pour un long voyage, nous avons ce qu'il vous faut.
        </p>
      </div>
      <div>
        <h2 class="text-2xl font-semibold text-[#771020] mb-4">Notre mission</h2>
        <p class="text-[#771020] mb-6">
          Offrir le meilleur service de location de voitures à nos clients. Nous nous engageons à fournir des véhicules de qualité et un service client exceptionnel.

        <h2 class="text-2xl font-semibold text-[#771020] mb-4">Pourquoi nous choisir ?</h2>
        <p class="text-[#771020]">
          Nos développeurs sont passionnés par la technologie et s'engagent à offrir un service de qualité. Nous utilisons les dernières technologies pour garantir une expérience utilisateur fluide et agréable.
        </p>
      </div>
    </div>
  </div>
</section>
